@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .scroll-snap-none {
    --tw-scroll-snap-direction: none;
  }
  .scroll-snap-x {
    --tw-scroll-snap-direction: x;
  }
  .scroll-snap-y {
    --tw-scroll-snap-direction: y;
  }

  .scroll-snap-mandatory {
    --tw-scroll-snap-mandatory: mandatory;
  }

  .scroll-snap {
    scroll-snap-type: var(--tw-scroll-snap-direction) var(--tw-scroll-snap-mandatory);
  }
} */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50
}

#__next {
  position: relative;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes rotate-loop {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-loop {
  animation: rotate-loop 24s linear infinite;
  transform-origin: center center;
}

.scroller {
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  vertical-align: top;
  @apply flex w-full relative whitespace-nowrap overflow-x-scroll py-4
}

.scroller::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  width: 0;
  height: 0
}

.scroller-item {
  display: inline-block;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  height: 100%;
  max-width: calc(100% - 3rem);
  @apply mr-5
}

@screen xl {
  .scroller-item > * {
    transform: translateX(calc((100vw - 80rem) / 2))
  }
}

@screen md {
  .scroller-item {
    max-width: calc(100% - 2rem);
  }
}

.disable-body-scroll {
  max-height: 100%;
  overflow: hidden
}

.webkit-fix-overflow {
  transform: translateZ(0)
}

@layer components {
  .layout {
    display: grid;
    position: relative;
    grid-template-columns: 1fr min(1280px, calc(100% - 2.5rem)) 1fr;
    grid-column-gap: 1.25rem;
  }
  
  .layout > * {
    grid-column: 2;
  }

  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
    overflow: hidden;
  }
  
  .full-bleed--brute {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .pulsing-blob {
    animation: pulse-white 2s infinite;
    @apply bg-white rounded-full w-2 h-2
  }

  .chat-container {
    @apply h-96 w-full relative py-4 px-6 overflow-y-auto
  }

  .smooth-edge-b {
    @apply relative
  }

  .smooth-edge-b::after {
    content: '';
    background: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 100%);
    @apply absolute left-0 bottom-0 w-full h-8
  }

  .bridge-hero-text {
    background: radial-gradient(183.73% 98.84% at 34.67% 136.05%, #EC07D5 0%, rgba(255, 236, 254, 0) 100%),
                radial-gradient(87.33% 493.89% at -36.67% 22.09%, #A207EC 0%, rgba(244, 187, 242, 0) 100%),
                radial-gradient(31.98% 51.16% at 8.67% 30.23%, rgba(29, 25, 250, 0.95) 0%, rgba(13, 240, 255, 0) 100%, rgba(4, 44, 255, 0) 100%),
                radial-gradient(28.67% 162.12% at 10% 46.51%, #F2A4EE 0%, rgba(244, 187, 242, 0) 100%),
                radial-gradient(37.8% 60.47% at 28% -25.58%, #19ECFA 0%, rgba(13, 240, 255, 0) 100%, rgba(13, 240, 255, 0) 100%),
                radial-gradient(44.67% 65.66% at 104.67% -3.49%, #FEE97C 0%, rgba(255, 232, 26, 0) 97.79%),
                radial-gradient(63.33% 93.11% at 87.33% 127.91%, #FB9F33 0%, rgba(255, 122, 26, 0) 97.79%),
                radial-gradient(67.15% 125.58% at 40.67% 3.49%, #8BBFFC 0%, rgba(255, 255, 255, 0) 55.43%),
                linear-gradient(0deg, #FFFFFF, #FFFFFF);
  }

  @keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
}